.container{
    display: flex;

    /* CONTAINER Properties */
    /* default flex-direction:row */
    /* flex-direction: column; */
    /* flex-direction: column-reverse; */
    /* flex-wrap: wrap; */
    /* flex-direction: nowrap; */
    /* flex-wrap: wrap-reverse; */
    /* flex-flow: [flex-direction] [flex-wrap]; */
    /* flex-flow: row-reverse nowrap; */

    /* main axis alignment */
    /* default */
    /* justify-content: flex-start; */
    /* justify-content: flex-end; */
    /* justify-content: center; */
    /* justify-content: space-around; */
    /* justify-content: space-between; */
    /* justify-content: space-evenly; */

    /* align-item */
    /* default */
    /* align-items: stretch; */
    /* align-items: flex-start; */
    /* align-items: flex-end; */
    /* align-items: center; */

    /* align-content */

    /* align-content: flex-end; */
    /* flex-direction: column; */
    /* align-content:center; */
    /* align-items: space-around; */
    /* align-items: space-evenly; */


    /* ITEM Properties */
    /* order by default order:0 */




    

}

.one{
    background-color: aqua;
    color: white;
    width: 100px;
    height: 50px;
    text-align: center;
    margin: 10px;
    order: 1;
}
.two{
    background-color: palevioletred;
    color: white;
    color: white;
    width: 100px;
    height: 50px;
    text-align: center;
    margin: 10px;
    /* order: 2; */
}
.three{
    background-color: aqua;
    color: white;
    color: white;
    width: 100px;
    height: 50px;
    text-align: center;
    margin: 10px;
    order: 2;
    
}
.four{
    background-color: palevioletred;
    color: white;
    color: white;
    width: 100px;
    height: 50px;
    text-align: center;
    margin: 10px;
}
.five{
    background-color: aqua;
    color: white;
    color: white;
    width: 100px;
    height: 50px;
    text-align: center;
    margin: 10px;
    order: 2;
}
.six{
    background-color: palevioletred;
    color: white;
    color: white;
    width: 100px;
    height: 50px;
    text-align: center;
    margin: 10px;
}